.usersList {
  display: flex;
  flex-direction: column;
}

.usersList .titles {
  background-color: rgb(197, 197, 197);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  padding: 10px 0 10px 10px;
  border-radius: 5px;
  height: 40px;
}

.usersList h2 {
  margin-bottom: 20px;
}

.userBlock {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  background-color: white;
  padding-left: 5px;
  text-overflow: ellipsis;
}

.userBlock p {
  font-size: medium;
  margin: 10px 0;
  padding: 5px 5px;
}

.userBlock .status {
  width: fit-content;
  height: fit-content;
  border-radius: 20px;
  padding: 5px 10px 5px 10px;
  margin: 10px 0;
}

.userBlock img {
  width: 20px;
  margin-top: 14px;
  cursor: pointer;
  margin-left: 5px;
}

/* p{ */
/* color: rgb(255, 255, 0) */
/* } */
